.my-card {
    display: block;

      min-height: 47vh;
      max-height: max-content;
    }
  
  .card-image{
    
    height: 30vh;
    width: 100%;
    
  }
  
  .start-button
  {
    width: 100%;
  }