<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About</h2>
      <p>
        I am motivated Java Developer with 2 years of hands-on experience in
        developing and maintaining Backend applications. Currently employed at
        Genpact India, Contributed to optimizing Spring Boot applications,
        implementing microservices architectures, and improving API performance.
        With a strong foundation in problem-solving and coding standards,
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="assets/quiz_def_pic.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Java &amp; Mern FullStack Developer.</h3>
        <p class="fst-italic">
          Committed to continuous learning and staying updated on industry
          trends.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                <span>12 May 1996</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                <span
                  ><a
                    style="color: unset"
                    href="https://shaikh-shahzade.github.io/"
                    >shaikh-shahzade.github.io</a
                  ></span
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                <span>+91 70075 74191</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                <span>Varanasi</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Experience:</strong>
                <span>> {{ experince }} years</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                <span>Masters in Computer Application</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Email:</strong> <span>shahzade10@gmail.com</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                <span>Available</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          I offer a range of Java development services including backend
          development, microservices architecture, and performance optimization.
          With expertise in Java and Spring Boot, I design and maintain scalable
          backend systems and implement robust RESTful APIs. My services include
          optimizing application performance, managing and enhancing API
          functionalities, and providing ongoing support and maintenance. I
          assist with project deployment, ensuring smooth integration and
          successful delivery.
        </p>
      </div>
    </div>
  </div>
</section>
