<p>about-us works!</p>

<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step >
        <ng-template matStepLabel>Done</ng-template>
          <mat-label>Name</mat-label>
          
          <button mat-button matStepperNext>Next</button>
        
    </mat-step>
    <mat-step >
       <ng-template matStepLabel>Fill out your address</ng-template>
       
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  
