<div class="container page py-3">
  <div class="row justify-content-center g-2 py-2">
    <h2
      style="
        text-align: start;
        color: var(--heading-color) !important;
        background-color: rgb(255, 255, 255);
        font-size: 37px;
      "
    >
      <span style="font-family: Roboto, sans-serif">Quiz Title</span>
    </h2>
  </div>

  <div class="row justify-content-center g-2">
    <div class="col-lg-8">
      <div class="container">
        <p><strong>Instructions for the Quiz: [Quiz Title]</strong></p>
        <p><strong>General Guidelines:</strong></p>
        <ol>
          <li>
            This quiz consists of [number of questions] multiple-choice
            questions.
          </li>
          <li>Each question has four answer options (A, B, C, D).</li>
          <li>
            Choose the correct answer for each question by selecting the
            corresponding letter.
          </li>
        </ol>
        <p>
          <strong>Quiz Format:</strong>
        </p>
        <p>4. Read each question carefully before selecting your answer.</p>
        <ol start="5">
          <li>
            Answer all questions. There is no penalty for guessing, so it's
            better to attempt every question.
          </li>
          <li>
            Once you've selected an answer, it is final. You cannot go back to
            change your response.
          </li>
        </ol>
        <p>
          <strong>Scoring:</strong> 7. Each correct answer earns you [number of
          points] points.
        </p>
        <ol start="8">
          <li>There is no negative marking for incorrect answers.</li>
        </ol>
        <p>
          <strong>Technical Instructions:</strong> 9. Use a pencil or pen to
          mark your answers on the provided answer sheet.
        </p>
        <ol start="10">
          <li>Ensure your answers are clear and legible.</li>
        </ol>
        <p>
          <strong>Time Limit:</strong> 11. The total duration of the quiz is
          [duration]. Please manage your time wisely.
        </p>
        <p>
          <strong>Submission:</strong> 12. Submit your answer sheet to
          [designated location or person] at the end of the quiz.
        </p>
        <ol start="13">
          <li>Late submissions will not be accepted.</li>
        </ol>
        <p>
          <strong>Additional Notes:</strong> 14. Any form of cheating or
          attempting to share answers will result in disqualification.
        </p>
        <ol start="15">
          <li>
            If you have any questions or need clarification, raise your hand to
            seek assistance.
          </li>
        </ol>
        <p><strong>Good luck!</strong></p>
      </div>
    </div>
    <div class="col">
      <div class="card px-3 py-4">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center; margin: 0%">
            <span style="color: #6c0909"><strong>Quiz Title</strong></span>
          </h4>

          <table
            style="
              height: 87px;
              width: 174px;
              align-self: center;
              margin: 2% 0% 3% 5%;
            "
          >
            <tbody class="card-text">
              <tr>
                <td style="width: 89.9625px">Time:</td>
                <td style="width: 70.4375px">60mins</td>
              </tr>
              <tr>
                <td style="width: 89.9625px">Questions:</td>
                <td style="width: 70.4375px">20</td>
              </tr>
            </tbody>
          </table>

          <button
            routerLink="/quiz/solve"
            [queryParams]="{ id: 1 }"
            class="btn btn-danger start-button"
          >
            Start
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
