
<mat-toolbar class="navbar-comp">
  <button mat-button class=" navbar-item">
    <mat-icon>edit_note</mat-icon><span> Exam-Pal </span>
  </button>
    <button  mat-button class=" navbar-item" >
      <mat-icon>home</mat-icon>
    </button>
    

  <div class="container left-navs ">
    <div class="row justify-content-end">
      <div class="col ">
        
        <button mat-button class=" navbar-item">Signup</button>
        <button mat-button class=" navbar-item">Login</button>
      </div>
    </div>
  </div>
  
  </mat-toolbar>
