
<mat-toolbar class="navbar-comp">
  <button mat-button class=" navbar-item">
    <mat-icon>edit_note</mat-icon><span> Exam-Pal </span>
  </button>
    <a routerLink="/" mat-button class=" navbar-item" >
      <mat-icon>home</mat-icon>
    </a>
    

  <div class="container left-navs ">
    <div class="row justify-content-end">
      <div class="col ">
        
        <a routerLink="signup" mat-button class=" navbar-item">Signup</a>
        <a  routerLink="login" mat-button class=" navbar-item">Login</a>
      </div>
    </div>
  </div>
  
  </mat-toolbar>
