<mat-card class="my-card">
  <img mat-card-image class="card-image" src="/assets/quiz_def_pic.jpg" />

  <mat-card-header>
    <mat-card-title>{{ quiz.title }}</mat-card-title>
    <mat-card-subtitle>
      {{ quiz.category ? quiz.category.title : "" }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ quiz.description && quiz.description.substr(0, 70) }}...</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-outline-danger start-button" (click)="start()">
      Start
    </button>
  </mat-card-actions>
</mat-card>
