.courseTitle
{
    text-transform: capitalize;
    color: #333;
    font-weight: 600;
    font-size: 28px;


}

.courseTitle span{
    font-size: 14px;
    text-align: center;
    margin-left: 21px;
    position: absolute;
    margin-top: 5px;
}
.quiz-detail-section
{
    padding: 20px;
    background: #f7f8fa;
    color: #333;
    font-family: Proxima Nova, Open Sans, Helvetica, Arial, sans-serif;
}
.hostedBy
{
    text-transform: capitalize;
    font-weight: 100;
    font-size: 10px;
}
.hostedBy span{
    font-weight: 600;
    font-size: 14px;
}