<button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Toggle offcanvas</button>
 
<div class="container">
    <div class="row  g-2">
         
        
<div class="col-3 offcanvas-lg offcanvas-start " tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Responsive offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body my-left-canvas">
    <div class="container  mx-3">
        <div class="row  mt-3 justify-content-center align-items-center g-2">
            <div class="col admin-col"><img [src]="baseUrl+'default.png'"><span>Admin</span></div>
        </div>
        <div class="row  justify-content-center align-items-center g-2">
            <div class="col admin-line"><hr></div>
        </div>
        <div class="row my-2  justify-content-center align-items-center g-2">
            <div class="col"><button mat-button class="active">Create new Quizes</button></div>
        </div>
        <div class="row my-2 justify-content-center align-items-center g-2">
            <div class="col"><button mat-button>Users</button></div>
        </div>
        <div class="row my-2 justify-content-center align-items-center g-2">
            <div class="col"><button mat-button>Quizes</button></div>
        </div>
        <div class="row my-2 justify-content-center align-items-center g-2">
            <div class="col"><button mat-button>Assign exam</button></div>
        </div>
        <div class="row my-2 justify-content-center align-items-center g-2">
            <div class="col"><button mat-button>Results</button></div>
        </div>
    </div>    


</div>
</div>

       
        
        <div class="col">

            <div class="container right-container">
                <div class="row pt-4 justify-content-center align-items-center g-2">
                    <div class="col">In the last 30days,</div>
                </div>
                <div class="row data-show-cards text-center justify-content-center align-items-center g-2">
                    <div class="col-4 py-3   my-4">20 Quizes Created</div>
                    <div class="col-4 py-3   my-4">300 Users Participation</div>
                    <div class="col-4 py-3   my-4">14 Quizes Assigned</div>
                </div>

                <div class="row  justify-content-center align-items-center g-2">
                    <div class="col">Activities</div>
                </div>

                <div class="row justify-content-center text-center align-items-center g-2">
                    <div class="col-12 col-md-4">Moniter users , activities , quizes.</div>
                    <div class="col-8 col-md-4">
                        <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                    <div class="col-4 col-md-4"><mat-icon>filter_alt</mat-icon> Filter</div>
                </div>




            </div>


        </div>
        
    </div>
</div>
