<button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Toggle offcanvas</button>
 
<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-3">
           
<div class="offcanvas-lg offcanvas-start " tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Responsive offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container">
        <div class="row my-4 justify-content-center align-items-center g-2">
            <div class="col admin-col"><img [src]="baseUrl+'default.png'"><span>Admin</span></div>
        </div>
        <div class="row my-4 justify-content-center align-items-center g-2">
            <div class="col"><hr></div>
        </div>
        <div class="row my-4 justify-content-center align-items-center g-2">
            <div class="col">Column</div>
        </div>
        <div class="row my-4 justify-content-center align-items-center g-2">
            <div class="col">Column</div>
        </div>
        <div class="row my-4 justify-content-center align-items-center g-2">
            <div class="col">Column</div>
        </div>
        <div class="row my-4 justify-content-center align-items-center g-2">
            <div class="col">Column</div>
        </div>
        <div class="row my-4 justify-content-center align-items-center g-2">
            <div class="col">Column</div>
        </div>
    </div>    


</div>
</div>

        </div>
        
        
        <div class="col">Column</div>
        
    </div>
</div>
