<div
  class="container"
>
<div
  class="row justify-content-end text-end align-items-center g-2"
>
  <div class="col">

    <span class="mx-4" style=" 
    color: var(--main-red-color);
    padding: 0.5rem 0.5rem 0.7rem 0.5rem;
    
      ">Time Left: <span style="color: rgb(74, 74, 74);">0:00:00</span> </span>
    

    <button type="button" class="btn btn-success">Submit</button>
  
  </div>
  
</div>

<div
  class="row justify-content-center align-items-center g-2"
>
  

  <div  id="carouselExampleIndicators" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" *ngFor=" let q of questions ;index as i" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to] ="i" [class]="i==0?'active':''" [attr.aria-current]="i==0" [attr.aria-label]="'Slide '+(i+1)"></button>
      </div>
    <div class="carousel-inner">
      
      <div  *ngFor=" let q of questions ;index as i" [ngClass]="i==0?'active':''" class="carousel-item ">
        <div class="d-block w-100"  >
      
          <app-question-form [question]="q" [label]="'this is add'" [formGroup]="firstFormGroup"></app-question-form>
        </div>
        
      </div>
      
    </div>
    
  </div>


  </div>
  </div>

  <div
    class="row justify-content-center align-items-center g-2 next-prev-btn"
  >
    
      <button class="btn btn-secondary" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="">Previous</span>
      </button>
   
      <button class="btn btn-warning" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        
      </button>
  </div>
  
  
  