<div
  class="container"
>

<div
  class="row justify-content-center align-items-center g-2"
>
  

  <div  id="carouselExampleIndicators" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" *ngFor=" let q of questions ;index as i" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      
      <div  *ngFor=" let q of questions ;index as i" [ngClass]="i==0?'active':''" class="carousel-item ">
        <div class="d-block w-100"  >
      
          <app-question-form [question]="q" [label]="'this is add'" [formGroup]="firstFormGroup"></app-question-form>
        </div>
      </div>
      
    </div>
    
  </div>


  </div>
  </div>

  <button class="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="">Previous</span>
  </button>
  <button class="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="">Next</span>
  </button>