<div class="container">
  <div class="row justify-content-center align-items-center g-2">
    <mat-tab-group>
      <mat-tab label="All">
        <div class="container">
          <div class="row  align-items-center g-2">
            
            <div *ngFor="let q of quizes" class="col-lg-4">
              <app-quiz-card
                [quiz]="q"
                (startQuiz)="quizstart($event)"
              ></app-quiz-card>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Active"> 
        <div class="container">
            <div class="row align-items-center g-2">
              
        <div class="col-lg-4">
            
          </div>
            </div>
        </div>
         </mat-tab>
      <mat-tab label="Previous">
        <div class="container">
            <div class="row  align-items-center g-2">
              
        <div class="col-lg-4">
          
          </div>
        </div>
        </div>
        </mat-tab>
    </mat-tab-group>
  </div>
</div>
