



.left-line-image
{
    background-image: url("/assets/left-line-image.png");
    

position: fixed;
bottom: 0;
left: 0;
width: 56vw;
height: 26vh;
z-index: -1;
background-size: contain;
background-repeat: no-repeat;

}

.right-image
{
    background-image: url("/assets/unsplash_i3PakNjFfAchome_page_pic.png");
position: fixed;
top: 0;
right: 0;
bottom: 0;
z-index: -1;
width: 30vw;

height: 100vh;
background-size: cover;
background-repeat: no-repeat;

}
@media only screen and (max-width:980px) {
    
.right-image
{
    
}
    
}

.home-body
{
   margin-left: 15vw;
   margin-top: 10vh;

}

.home-left-side-p1
{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 33.7814px;
line-height: 40px;
}
.home-left-side-p2{
   
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12.668px;
line-height: 15px;
color: #828282;
}
.home-left-side-p2 .col{
    border-left: 2px var(--main-red-color) solid;
}

.home-left-side-p3
{
    
}
.home-left-side-p3 .start-but button
{
    border-radius: 0%;
    background: var(--main-red-color);
    color: white;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12.668px;
line-height: 19px;
background: #E74646;
box-shadow: 0px 10px 21.1134px -11px #E74646;

}

.home-left-side-p3 .know-more button
{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12.668px;
line-height: 15px;

color: var(--main-red-color);
}
.home-left-side-p3 .know-more mat-icon
{
vertical-align: bottom;
}