<div class="container home-body">
    <div class="row justify-content-center align-items-center g-2">
    
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2017/06/21/18/44/exam-2428208_1280.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><h1> Welcome to Exam-pal</h1></h5>
              <p class="card-text">   
                 Exam-pal is an online portal for all your exam conducting needs.</p>
            
              <button mat-button color="primary" style="transform: scale(1.5);">Let's get started </button>
            </div>
          </div>
    
        
 </div>
</div>