<div class="container  home-body">
  <div class="row   my-3 ">
    <div class="col-lg-6 ">
  
<div class="container  home-left-side-p1  py-2 ">
  <div class="row ">
    <div class="col-lg-12"> 
      Test Your Skills,
    </div>
</div>
<div class="row ">
<div class="col-lg-12">
  Conduct Quiz
</div>
</div>
<div class="row ">
<div class="col-lg-12"> 
  Exams
</div>
</div>

</div>


    </div>
  </div>


  <div class="row home-left-side-p2  my-3 g-2">
    <div class="col-lg-6" style=" border-left: 2px var(--main-red-color) solid; padding-left: 10px;">
      We help you to organize quiz exams 
    </div>
  </div>

  <div class="row home-left-side-p3   my-3 ">
    <div class="col-lg-2 start-but py-1">
       <button mat-button>Start solving </button>
    </div>
    <div class="col-lg-2 know-more py-1">
      <button routerLink="how" mat-button><mat-icon>arrow_drop_down</mat-icon> <span>know more</span>
      </button>
    </div>
    
  </div>
</div>

<div class="left-line-image">
</div>

<div class="right-image">
</div>