

.home-body
{
    margin-top: 7px;
    min-height: 100%;
    min-width: 100%;

}
.home-body .card
{
    background: none;
    color: black;
    padding-top: 5%;
    text-align: center;
    border: unset;
    align-items: center;
    justify-self: center;
    width: 90%;
    height: 90vh;
}
.home-body .card-text
{
    color: rgb(60, 7, 64);
    
}
.home-body .card-img-top
{
    margin: auto;
    max-width: 20%;
    margin-bottom: 2%;
}
.home-body h1
{
    font-size: 7vw;
    
    justify-self: end;
    font-family: 'Dongle', sans-serif;
}
.home-body p
{
    
}

.left-line-image
{
    background-image: url("/assets/left-line-image.png");
    

position: fixed;
bottom: 0;
left: 0;
width: 56vw;
height: 26vh;
z-index: -1;
background-size: contain;
background-repeat: no-repeat;

}

.right-image
{
    background-image: url("/assets/unsplash_i3PakNjFfAchome_page_pic.png");
position: fixed;
top: 0;
right: 0;
bottom: 0;
z-index: -1;
width: 65vh;

height: 100vh;
background-position: right;
background-size: cover;
background-repeat: no-repeat;

}

.home-left-side-p1
{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 33.7814px;
line-height: 40px;
}
.home-left-side-p2{
   
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12.668px;
line-height: 15px;
color: #828282;
}
.home-left-side-p2 .col{
    border-left: 2px var(--main-red-color) solid;
}

.home-left-side-p3
{
    
}
.home-left-side-p3 .start-but
{
    
}
.home-left-side-p3 .know-more
{
    
}